
header {
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 10px;
 border-bottom: solid black 1px;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-top: 3px;
}

.logo p {
  margin: 13px;
}

header ul {
  padding-top: 3px;
  padding-right: 30px;
}

header ul li{
  display: inline-block;
  margin: 10px;
  text-decoration: underline;
}

.column {
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;
}

.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
  display: flex;
}

.column.small {
  width: 240px;
  display: flex;
}

.column_title {
  font-size: 20pt;
  font-weight: bold;
}

.column_divider {
  min-width: 40px;
  border: 5px;
}
